<ion-header>
  <ion-toolbar>
    <ion-title>SurveyPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>ชื่อ-สกุล</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-label>ชื่อ</ion-label>
        <ion-input class="input1" placeholder="กรอกชื่อ"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label>สกุล</ion-label>
        <ion-input class="input1" placeholder="กรอกนามสกุล"></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>เบอร์โทรที่สามารถติดต่อได้</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>เบอร์โทร</ion-label>
        <ion-input class="input1" placeholder="กรอกเบอร์โทร"></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>ท่านทราบข่าวโครงการจากสื่อใด</ion-label>
        </ion-item>
        <p>(ระบุได้มากกว่า 1 ข้อ)</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>Facebook</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>TV</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>SMS</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>Line</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>ป้านโฆษณา</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>ใบปลิว</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>ลูกบ้าน</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>เพื่อนแนะนำ</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>หนังสือเชิญ</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>บูธจัดงาน</ion-label>
    </ion-row>
    <ion-label>อื่นๆ</ion-label>
    <ion-row>
      <ion-input class="input1" placeholder="อื่นๆ"></ion-input>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>ท่านทราบข่าวโครงการจากสื่อใด</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>ไม่เกิน 25 ปี</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>26-30</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>31-35</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>36-40</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>41-45</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>46-50</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>51 ปีขึ้นไป</ion-label>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>อาชีพของท่าน</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>เจ้าของธุรกิจ</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>พนักงานริษัท</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>รัฐวิสาหกิจ</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>รับราชการ</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>แพทย์</ion-label>
    </ion-row>
    <ion-label>อื่นๆ</ion-label>
    <ion-row>
      <ion-input class="input1" placeholder="อื่นๆ"></ion-input>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>รายได้ของท่าน และผู้กู้ร่วม (บาท)</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>10,000 - 20,000</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>20,001 - 30,000</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>30,001 - 40,000</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>40,001 - 50,000</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>50,001 - 60,000</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>60,001 - 70,000</ion-label>
    </ion-row>
    <ion-label>อื่นๆ</ion-label>
    <ion-row>
      <ion-input class="input1" placeholder="อื่นๆ"></ion-input>
    </ion-row>
  </ion-card>


  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>งบประมาณในการซื้อที่อยู่อาศัยใหม่</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>1 - 2 ล้านบาท</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>2 - 3 ล้านบาท</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>3 - 4 ล้านบาท</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>4 - 5 ล้านบาท</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>5 - 6 ล้านบาท</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>6 - 7 ล้านบาทขึ้นไป</ion-label>
    </ion-row>
    <ion-label>อื่นๆ</ion-label>
    <ion-row>

      <ion-input class="input1" placeholder="อื่นๆ"></ion-input>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>ปัจจัยที่มีผลต่อการตัดสินใจซื้อ</ion-label>
        </ion-item>
        <p>(เรียงลำดับโดยการลากวาง หรือกรอกตัวเลข)</p>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" [disabled]="false">
        <ion-item *ngFor="let i of items">
          <ion-label>{{i}}</ion-label>
          <ion-reorder></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>ข้อเสนอแนะเพิ่มเติม</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input class="input1"></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>โครงการที่สนใจ</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>โครงการ Metro Park</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>โครงการ The Entrio</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>โครงการ Livello Town</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>รับราชการ</ion-label>
    </ion-row>
    <ion-label>อื่นๆ</ion-label>
    <ion-row>

      <ion-input class="input1" placeholder="อื่นๆ"></ion-input>
    </ion-row>
  </ion-card>


  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>วันที่ทำแบบสอบถาม</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>วันที่/เดือน/ปี</ion-label>
        <ion-datetime class="input1" displayFormat="DD MMMM YYYY" placeholder="เลือกวันที่"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>ลงชื่อเจ้าหห้าที่</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>GM 01 นางสาวฝน</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>GM 02 นางสาวติ๋ว</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>GM 04 นางสาวอร</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>GM 05 นางสาวกิ๊ฟ</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>GM 06 นางสาวเจน</ion-label>
    </ion-row>
    <ion-row>
      <ion-checkbox></ion-checkbox>
      <ion-label>GM 07 นางสาวก้อย</ion-label>
    </ion-row>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="full" (click)="Send()">ยืนยันการทำแบบสำรวจ</ion-button>
  </div>

</ion-content>